<head>
  <title>Newism 貨物管理系統</title>
</head>

<body>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		      	<%= link_to 'Newism 貨物管理系統', root_path ,class:"navbar-brand" %>
		    </div>
		    <ul class="nav navbar-nav">
		      	<li class="active"><%= link_to 'Home', root_path%></li>
		      	<li><%= link_to '進貨', root_path %></li>
		      	<li><%= link_to '銷貨', root_path %></li>
		      	<li><%= link_to '退貨', root_path %></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li><%= link_to '註冊', root_path, class:"glyphicon glyphicon-user" %></li>
		    	<li><%= link_to '登入', root_path, class:"glyphicon glyphicon-log-in" %></li>
		    </ul>
	  	</div>
	</nav>

	<div class="container">
		<h2>目前各店庫存</h2>
		<table class="table">
		    <thead>
		     	<tr>
		        <th>櫃名</th>
		        <th>品名</th>
		        <th>數量</th>
		      	</tr>
		    </thead>
		    <tbody>
				<% @ps.each do |ps| %>
			      	<tr>
			        <td><%= ps.store.title %></td>
			        <td><%= ps.product.name %></td>
			        <td><%= ps.amount %></td>
			     	 </tr>
			    <% end %>
			</tbody>
		</table>
	</div>
</body>

<footer class="navbar-fixed-bottom">
	Website design by Jordan Copyright © 2017 Newism. All rights reserved. 
</footer>